:root {
    --ion-safe-area-top: 4%; 
}

:root {
    --ion-color-orange: #ff6a00;
    --ion-color-orange-rgb: 255,106,0;
    --ion-color-orange-contrast: #000000;
    --ion-color-orange-contrast-rgb: 0,0,0;
    --ion-color-orange-shade: #e05d00;
    --ion-color-orange-tint: #ff791a;
  }
  
  .ion-color-orange {
    --ion-color-base: var(--ion-color-orange);
    --ion-color-base-rgb: var(--ion-color-orange-rgb);
    --ion-color-contrast: var(--ion-color-orange-contrast);
    --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
    --ion-color-shade: var(--ion-color-orange-shade);
    --ion-color-tint: var(--ion-color-orange-tint);
  }

  :root {
    --ion-color-react: #4dcfff;
    --ion-color-react-rgb: 77,207,255;
    --ion-color-react-contrast: #000000;
    --ion-color-react-contrast-rgb: 0,0,0;
    --ion-color-react-shade: #44b6e0;
    --ion-color-react-tint: #5fd4ff;
  }
  
  .ion-color-react {
    --ion-color-base: var(--ion-color-react);
    --ion-color-base-rgb: var(--ion-color-react-rgb);
    --ion-color-contrast: var(--ion-color-react-contrast);
    --ion-color-contrast-rgb: var(--ion-color-react-contrast-rgb);
    --ion-color-shade: var(--ion-color-react-shade);
    --ion-color-tint: var(--ion-color-react-tint);
  }